# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Airflow logs
logs/

# Database files
*.db
*.duckdb

# Generated data
data/weather_staging.csv

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store